.site-header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;

  .logo {
    border-radius: 30%;
    background: $grey1;
    width: 100px;
    img {
      // border-radius: 20%;
    }
  }
}
.site-nav {
  display: flex;
  justify-content: space-between;

  .list-view {
    display: flex;

    li {
      margin-right: 1.5rem;
    }
  }
}
