@import "init";
@import "vars";
@import "typography";

@import "header";
@import "./pages/home";

body {
  color: $dark0;
  background: white;
}

a,
a:visited {
  color: $grey0;
  transition: all 0.15s ease-in;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark2;
  }
}
